USE [master]
GO
/****** Object:  Database [PC_Manager]    Script Date: 2021/9/11 20:39:14 ******/
CREATE DATABASE [PC_Manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PC_Manager', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PC_Manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PC_Manager_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PC_Manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PC_Manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PC_Manager]
GO
/****** Object:  User [gavin]    Script Date: 2021/9/11 20:39:14 ******/
CREATE USER [gavin] FOR LOGIN [gavin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[order]    Script Date: 2021/9/11 20:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[oid] [int] IDENTITY(1,1) NOT NULL,
	[remark] [nvarchar](40) NULL,
	[pid] [int] NULL,
	[uid] [nvarchar](20) NULL,
	[sid] [nvarchar](20) NULL,
	[final_price] [float] NULL,
	[date] [nvarchar](30) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proposal]    Script Date: 2021/9/11 20:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proposal](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[remark] [nvarchar](50) NOT NULL,
	[主板] [nvarchar](50) NULL,
	[CPU] [nvarchar](50) NULL,
	[内存] [nvarchar](50) NULL,
	[散热] [nvarchar](50) NULL,
	[显卡] [nvarchar](50) NULL,
	[硬盘] [nvarchar](50) NULL,
	[机箱] [nvarchar](50) NULL,
	[显示器] [nvarchar](50) NULL,
	[键盘] [nvarchar](50) NULL,
	[鼠标] [nvarchar](50) NULL,
	[电源] [nvarchar](50) NULL,
	[total] [float] NULL,
 CONSTRAINT [PK_proposal] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 2021/9/11 20:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[sid] [nvarchar](50) NOT NULL,
	[sname] [nvarchar](50) NULL,
	[passwd] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 2021/9/11 20:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[detail] [nvarchar](50) NULL,
	[price] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type]    Script Date: 2021/9/11 20:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2021/9/11 20:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[uid] [nvarchar](50) NOT NULL,
	[uname] [nvarchar](50) NULL,
	[passwd] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([oid], [remark], [pid], [uid], [sid], [final_price], [date], [status]) VALUES (13, N'第一台主机               ', 6, N'123', N'123', 1318, N'2021/6/28 16:03:37', 1)
INSERT [dbo].[order] ([oid], [remark], [pid], [uid], [sid], [final_price], [date], [status]) VALUES (15, N'演示                  ', 8, N'123', N'123', 6930, N'2021/7/5 11:05:04', 1)
INSERT [dbo].[order] ([oid], [remark], [pid], [uid], [sid], [final_price], [date], [status]) VALUES (16, N'演示1                 ', 9, N'123', N'123', 10329, N'2021/7/5 11:19:12', 1)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[proposal] ON 

INSERT [dbo].[proposal] ([pid], [remark], [主板], [CPU], [内存], [散热], [显卡], [硬盘], [机箱], [显示器], [键盘], [鼠标], [电源], [total]) VALUES (6, N'第一台主机               ', N'技嘉B460M AORUS PRO赛博朋克2077，吃鸡，英雄联盟，绝地求生，DOTA2', N'Intel 酷睿i7 9700K8核心8线程，睿频至高可达4.9GHz，兼容英特尔Z390芯片组', N'影驰GAMER BLUE 16GB（2×8GB）DDR4 3200', N'利民TL-C12', N'七彩虹Colorful GeForce RTX 2060 Gaming ES', N'希捷Barracuda 500GB 7200转 32MB SATA3（ST500DM009）', N'微星氪金枪2', N'飞利浦275M8', N'雷柏V500合金版机械键盘防溅洒设计，悬浮式设计，双色注塑键帽，26键无冲突', N'血手幽灵V8M游戏鼠标多核左三枪，微精校准技术，3种点击模式', N'ANTEC NE750', 9779)
INSERT [dbo].[proposal] ([pid], [remark], [主板], [CPU], [内存], [散热], [显卡], [硬盘], [机箱], [显示器], [键盘], [鼠标], [电源], [total]) VALUES (7, N'一台电脑                ', NULL, N'Intel 酷睿i5 74004核心4线程，LGA 1151，3GHz，6M三级缓存', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1499)
INSERT [dbo].[proposal] ([pid], [remark], [主板], [CPU], [内存], [散热], [显卡], [硬盘], [机箱], [显示器], [键盘], [鼠标], [电源], [total]) VALUES (8, N'演示                  ', N'微星B450M MORTAR TITANIUM', N'AMD Ryzen 5 26006核心12线程，3.4GHz，65W，3M二级缓存', N'金士顿8GB DDR3 1600（KVR16S118）全平台兼容，可靠节能，标准版型设计', N'猫头鹰NF-F12', N'七彩虹Colorful GeForce RTX 2060 Gaming ES', N'希捷Barracuda 500GB 7200转 32MB SATA3（ST500DM009）', N'Phanteks追风者P500APH-EC500ATG,追风者侧透水冷,追风者双重防尘', N'HKC S2716IPS屏幕，高清屏幕，可壁挂', N'雷柏V500合金版机械键盘防溅洒设计，悬浮式设计，双色注塑键帽，26键无冲突', N'血手幽灵V8M游戏鼠标多核左三枪，微精校准技术，3种点击模式', N'长城双卡王专业版BTX-500SE（A）智能温控，双显卡接口，12cm风扇，额定功率400W', 6930)
SET IDENTITY_INSERT [dbo].[proposal] OFF
GO
INSERT [dbo].[staff] ([sid], [sname], [passwd], [email]) VALUES (N'123', N'123', N'123', N'123')
GO
SET IDENTITY_INSERT [dbo].[store] ON 

INSERT [dbo].[store] ([id], [type], [name], [detail], [price]) VALUES (1889, N'硬盘', N'希捷银河Exos X16 16TB SAS接口（ST16000NM002G）', N'硬盘尺寸:3.5英寸 硬盘容量:16000GB', 3699)
INSERT [dbo].[store] ([id], [type], [name], [detail], [price]) VALUES (1890, N'硬盘', N'希捷Laptop 4TB 5400转 128MB（ST4000LM016）', N'硬盘尺寸:2.5英寸 硬盘容量:4000GB', 1299)
INSERT [dbo].[store] ([id], [type], [name], [detail], [price]) VALUES (1891, N'硬盘', N'希捷BarraCuda Pro 8TB 7200转 256MB（ST8000DM0004）', N'硬盘尺寸:3.5英寸 硬盘容量:8000GB', 2599)
GO
SET IDENTITY_INSERT [dbo].[store] OFF
GO
SET IDENTITY_INSERT [dbo].[type] ON 

INSERT [dbo].[type] ([tid], [type]) VALUES (2, N'所有配件')
INSERT [dbo].[type] ([tid], [type]) VALUES (3, N'CPU')
INSERT [dbo].[type] ([tid], [type]) VALUES (4, N'主板')
SET IDENTITY_INSERT [dbo].[type] OFF
GO
INSERT [dbo].[users] ([uid], [uname], [passwd], [email]) VALUES (N'123', N'123', N'123', N'123')
GO
/****** Object:  StoredProcedure [dbo].[add_staff]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[add_staff]
	@sid nvarchar(10),
	@sname nvarchar(20),
	@passwd nvarchar(16),
	@email nvarchar(20),
	@status int output
/*
status:
	0: 成功
	1: id已存在
	2: 未知错误
*/
as begin
	set @status = 2;
	if exists(select * from staff where sid = @sid) begin
		set @status = 1;
		return 
	end

	insert into staff values(@sid, @sname, @passwd, @email);
	set @status = 0;
	
end
GO
/****** Object:  StoredProcedure [dbo].[add_user]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[add_user]
	@uid nvarchar(10),
	@uname nvarchar(20),
	@passwd nvarchar(16),
	@email nvarchar(20),
	@status int output
/*
status:
	0: 成功
	1: id已存在
	2: 未知错误
*/
as begin
	set @status = 2;
	if exists(select * from users where uid = @uid) begin
		set @status = 1;
		return 
	end

	insert into users values(@uid, @uname, @passwd, @email);
	set @status = 0;
	
end
GO
/****** Object:  StoredProcedure [dbo].[get_page]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_page]
@page_num int

as begin

select top 10 [type] 类型, [name] 品名, detail 详情, price 价格 from (SELECT  row_number() over(order by id) as rownumber,  * FROM store) temp where rownumber > (@page_num+1) * 10;

end
GO
/****** Object:  StoredProcedure [dbo].[get_price]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_price]
@id int,
@price float out
as begin
	if @id is null 
		set @price = 0
	else
		select @price = price from store where id = @id;
	set @price = @price
end
GO
/****** Object:  StoredProcedure [dbo].[get_proposal]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_proposal]
@pid int

as begin
	SELECT pid ID, 主板, CPU, 内存, 散热, 显卡, 硬盘, 机箱, 显示器, 键盘, 鼠标, 电源, total 总计 FROM [proposal] where [pid] = @pid
end
GO
/****** Object:  StoredProcedure [dbo].[get_total]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_total]
@total float out
as begin

declare @id int;
declare @board float;
declare @cpu float;
declare @memory float;
declare @heatsinker float;
declare @gpu float;
declare @harddisk float;
declare @screen float;
declare @keyboard float;
declare @mouse float;
set @id = 1;
select @board = price from store where id = @id;
select @cpu = price from store where id = @id;
select @memory = price from store where id = @id;
select @heatsinker = price from store where id = @id;
select @gpu = price from store where id = @id;
select @harddisk = price from store where id = @id;
select @screen = price from store where id = @id;
select @keyboard = price from store where id = @id;
select @mouse = price from store where id = @id;
if(@board is null) set @board = 0;
if(@cpu is null) set @cpu = 0;
if(@memory is null) set @memory = 0;
if(@heatsinker is null) set @heatsinker = 0;
if(@gpu is null) set @gpu = 0;
if(@harddisk is null) set @harddisk = 0;
if(@screen is null) set @screen = 0;
if(@keyboard is null) set @keyboard = 0;
if(@mouse is null) set @mouse = 0;
set @total = @board+ @cpu + @memory + @heatsinker + @gpu + @harddisk + @screen + @keyboard + @mouse;
select @total;
end
GO
/****** Object:  StoredProcedure [dbo].[modify]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[modify]
@id int,
@type nvarchar(10),
@name nvarchar(50),
@detail nvarchar(50),
@price float,
@status int out


as begin
	print(@type+' '+@name+' '+@detail+' ')
	print(@price);
	update store set type = @type, name = @name, detail = @detail, price = @price where id = @id;
	set @status = 0;
end
GO
/****** Object:  StoredProcedure [dbo].[order_add]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[order_add]
@remark nvarchar(50),
@pid int,
@uid nvarchar(20),
@sid nvarchar(20),
@final_price  float,
@date nvarchar(30),
@status int out

as begin 
	set @status = 1;
	if @uid is null begin
		insert  into [order] (remark, pid, sid, final_price, date, status) values(@remark,@pid, @sid, @final_price, @date, @status);
		set @status = 0;
	end 
	else if @sid is null begin
		insert  into [order] (remark, pid, uid, final_price, date, status) values(@remark,@pid, @uid, @final_price, @date, @status);
		set @status = 0;
	end
	else 
		insert  into [order] (remark, pid, uid, sid, final_price, date, status) values(@remark,@pid, @uid, @sid, @final_price, @date, @status);
		set @status = 0;
	
end
GO
/****** Object:  StoredProcedure [dbo].[order_add_to_id]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[order_add_to_id]
@remark nvarchar(50),
@oid int,
@pid int,
@uid nvarchar(20),
@sid nvarchar(20),
@final_price  float,
@date nvarchar(30),
@status int out

as begin 
	set @status = 1;
	if @uid is null begin
		update [order] set remark = @remark, pid = @pid , sid = @sid, final_price = @final_price, date = @date, status = @status where oid = @oid

		set @status = 0;
	end 
	else 
		update [order] set remark = @remark, pid = @pid , uid = @uid, sid = @sid, final_price = @final_price, date = @date, status = @status where oid = @oid
		set @status = 0;
	
end
GO
/****** Object:  StoredProcedure [dbo].[order_list]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[order_list]
as begin
	select oid, remark from(
	select 0 oid,'创建新订单' remark
	union
	SELECT oid,remark FROM [order]
	) ttt  order by oid
end
GO
/****** Object:  StoredProcedure [dbo].[proposal_attach]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proposal_attach]
@pid int,
@type nvarchar(50),
@name nvarchar(50),
@status int out

as begin 
	if not exists(select * from proposal where pid = @pid) begin
		set @status = 1;
		return;
	end

	
	exec('if (select top 1 '+@type+' from proposal where pid = '+@pid+
	' ) is not null update proposal set total = total - (select price from store where name = (select '+@type+
	' from proposal where pid = '+@pid+')) where pid = '+@pid+
	';update proposal set total = total + (select price from store where name = '''+@name+''')  where pid = '+@pid+
	';update proposal set '+@type+'='''+@name+''' where pid = '+@pid+';');

	set @status = 0;
end
GO
/****** Object:  StoredProcedure [dbo].[proposal_remark]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proposal_remark]
as begin
	select pid, remark from proposal
		
end

		
GO
/****** Object:  StoredProcedure [dbo].[proposalAdd]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proposalAdd]
@remark nchar(20),
@status int out

as begin
	if(len(@status) = 0)
		set @status = 1
		
	insert into proposal (remark, total) values (@remark, 0);
	
	set @status = 0
end
GO
/****** Object:  StoredProcedure [dbo].[search_in_all]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[search_in_all]
@name nvarchar(50),
@status int out

as begin
	set @status = 1;
	exec('select id 编号, type 类型, name 品名, detail 详情, price 价格 from store where name like ''%'+@name+'%''');
	set @status = 0;
end 
GO
/****** Object:  StoredProcedure [dbo].[search_in_type]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[search_in_type]
@name nvarchar(50),
@type nvarchar(50),
@status int out

as begin
	set @status = 1;
	exec('select id 编号, type 类型, name 品名, detail 详情, price 价格 from store where name like ''%'+@name+'%'' and [type] = '''+@type+'''');
	set @status = 0;
end 
GO
/****** Object:  StoredProcedure [dbo].[select_all]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[select_all]
as begin
	select * from store;
end
GO
/****** Object:  StoredProcedure [dbo].[select_type]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[select_type]
@type nchar(20),
@status int out

as begin
	select * from store where type = @type;
	set @status = 0
end
GO
/****** Object:  StoredProcedure [dbo].[selectAll]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectAll]
as begin
	select id 编号, type 类型, name 品名, detail 详情, price 价格 from store
end
GO
/****** Object:  StoredProcedure [dbo].[selectType]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectType]
@type nvarchar(20),
@status int out

as begin
	select id 编号, type 类型, name 品名, detail 详情, price 价格 from store where type = @type;
	set @status = 0
end
GO
/****** Object:  StoredProcedure [dbo].[staff_login]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[staff_login]
@sid nchar(10),
@passwd nchar(16),
@status int out
as begin
	if exists (select * from staff where sid = @sid and passwd = @passwd) set @status = 0;
	else set @status = 1;
end
GO
/****** Object:  StoredProcedure [dbo].[store_add]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[store_add]
@type nvarchar(50),
@name nvarchar(50),
@detail nvarchar(50),
@price float,
@status int out

as begin 
	set @status = 1;
	insert into store (type, name, detail, price) values(@type, @name, @detail, @price);
	set @status = 0;
end
GO
/****** Object:  StoredProcedure [dbo].[user_login]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[user_login]
@uid nchar(10),
@passwd nchar(16),
@status int out
as begin
	if exists (select * from users where uid = @uid and passwd = @passwd) set @status = 0;
	else set @status = 1;
end
GO
/****** Object:  StoredProcedure [dbo].[user_order]    Script Date: 2021/9/11 20:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[user_order]
@uid nvarchar(20)

as begin
	SELECT oid 订单号, remark 备注, pid 配置方案号, sid 员工, final_price 成交价, date 日期, status 状态 FROM [order] where uid = @uid

end
GO
USE [master]
GO
